{% extends 'SandraPokemonBundle::base.html.twig' %}


{% block content_body %}
    <div class="row" style="margin: 10px;">
        <h1>Exécuteur de SQL</h1>


        <h4>Saisie ton SQL</h4>
        {{ form_start(sqlForm) }}
        <div class="form-group">
            {{ form_widget(sqlForm) }}
            <button type="submit" class="btn btn-default">Valider</button>
        </div>
        {{ form_end(sqlForm) }}

        <div>
            <h4>Résultat de ta requête</h4>
        </div>
    </div>

{% endblock %}